@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .section-min-height{
        min-height: calc(100vh - 68px);
    }
    .color-wide{
        color: rgba(255, 34, 0, 0.778);
    }
    .color-tall{
        color: aqua;
    }
}